@font-face {
   font-family: 'FiaCodeBold';
   src: url('./assets//fonts/FiraCode-Bold.ttf') format('opentype');
}

@font-face {
   font-family: 'FiaCodeRegular';
   src: url('./assets//fonts/FiraCode-Regular.ttf') format('opentype');
}

@font-face {
   font-family: 'FiaCodeLight';
   src: url('./assets//fonts/FiraCode-Light.ttf') format('opentype');
}

@font-face {
   font-family: 'FiaCodeMedium';
   src: url('./assets//fonts/FiraCode-Medium.ttf') format('opentype');
}

@font-face {
   font-family: 'FiaCodeSemiBold';
   src: url('./assets//fonts/FiraCode-SemiBold.ttf') format('opentype');
}

@font-face {
   font-family: 'FreeSans';
   src: url('./assets/fonts/FreeSans.otf') format('opentype');
}

@font-face {
   font-family: 'FreeSansBold';
   src: url('./assets/fonts/FreeSansBold.otf') format('opentype');
}

@font-face {
   font-family: 'FreeSansBoldOblique';
   src: url('./assets/fonts/FreeSansBoldOblique.otf') format('opentype');
}

@font-face {
   font-family: 'FreeSansOblique';
   src: url('./assets/fonts/FreeSansOblique.otf') format('opentype');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: black;
   overflow-x: hidden;
}

.logo {
   width: 7rem;
   height: 7rem;
}

nav {
   padding: 0rem 2rem;
}
.logo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

main {
   font-family: 'FreeSansBold', sans-serif;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow-x: hidden;
   padding: 5rem 0rem;
}

.main-text {
   font-size: 2.1rem;
   line-height: 1.2;
   margin-left: 2rem;
}
.main-image {
   width: 50%;
   height: 30rem;
}
.main-image img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   padding-left: 10rem;
}

.thin {
   font-family: 'FreeSans', sans-serif;
   font-weight: 100;
}

.color {
   color: #deff2a;
}

main {
   position: relative;
   height: auto;
}

.glow1,
.glow2 {
   width: 20rem;
   height: 50%;
   background: #4367017a;
   position: absolute;
   transform: translateY(-50%);
   border-radius: 100%;
   filter: blur(70px);
}

.glow1 {
   top: 50%;
   left: -15%;
}

.glow2 {
   top: 50%;
   right: -15%;
}

.main-button {
   cursor: pointer;
   width: 15rem;
   height: 7rem;
}

.main-button img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.social {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-direction: row;
}

.social-icons {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.social-icons .icon {
   width: 5rem;
   height: 5rem;
   cursor: pointer;
}

.social-icons .icon img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.section1 {
   background-color: white;
   color: black;
   position: relative;
   padding: 0 0 5rem 0rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.cube,
.cube2,
.cube4,
.cube10,
.cube12,
.cube13 {
   width: 1.5rem;
   height: 1.5rem;
   background-color: #c9f31d;
   position: absolute;
}

.cube {
   top: 0;
   left: 65%;
   transform: translateY(-50%);
}

.container1 {
   position: relative;
}

.cube2 {
   top: 3%;
   left: 0;
   transform: translateX(-50%);
}

.container1 {
   border-left: 0.4px solid rgba(53, 53, 53, 0.855);
   width: 85%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.container2,
.container3,
.container5 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 3rem;
   width: 80%;
   padding: 2rem;
}

.container3 {
   padding: 0;
}

.container2 {
   position: relative;
}
.container2 h2,
.container3 h2,
.container5 h2 {
   font-family: 'FreeSansBold', sans-serif;
   font-size: 2.5rem;
   color: #c9f31d;
   background-color: black;
   padding: 0.1rem 1rem;
}

.container2 p,
.container4 p {
   font-family: 'FiaCodeRegular', sans-serif;
   font-size: 1.2rem;
}

.container2 p {
   margin-top: 3rem;
}

.cube3 {
   background-color: white;
   border-left: 0.4px solid rgba(53, 53, 53, 0.855);
   border-bottom: 0.4px solid rgba(53, 53, 53, 0.855);
   width: 10rem;
   height: 10rem;
   position: absolute;
   top: 0;
   right: 0;
}

.cube-img1 {
   width: 12rem;
   height: 12rem;
   position: absolute;
   bottom: 0;
   right: -10%;
   transform: translateY(100%);
}

.cube-img1 img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.container4 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   padding: 2rem 0rem;
}

.container4 h3 {
   font-family: 'FreeSansBold', sans-serif;
   font-weight: bolder;
   font-size: 2.5rem;
   font-stretch: condensed;
   font-style: italic;
}

.container3 {
   align-self: flex-start;
   width: 100%;
   margin-top: 10rem;
}

.container4 {
   align-self: self-end;
   border-top: 1px solid rgba(53, 53, 53, 0.855);
   border-right: 1px solid rgba(53, 53, 53, 0.855);
   border-bottom: 1px solid rgba(53, 53, 53, 0.855);
   padding-left: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-top: 5rem;
}

.left p,
.right p {
   font-family: 'FiaCodeRegular', sans-serif;
   font-size: 1rem;
   margin-top: 1rem;
   width: 80%;
}

.left,
.right {
   justify-self: flex-end;
}

.cube4 {
   top: 0;
   right: 0;
   transform: translate(50%, -50%);
}

.cube5 {
   position: absolute;
   top: 0;
   left: 0;
   transform: translateX(-100%);
   height: 100%;
   width: 10rem;
   border: 1px solid black;
}

.container5 {
   width: 100%;
   padding: 0;
   position: relative;
}

.point1,
.point2 {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   margin-top: 3rem;
   gap: 1rem;
}

.point1 img,
.point2 img {
   width: 5rem;
   height: 5rem;
   object-fit: contain;
}

.point1 p,
.point2 p {
   font-family: 'FiaCodeRegular', sans-serif;
   font-size: 1.5rem;
}

.point1 p span,
.point2 p span {
   font-family: 'FiaCodeRegular', sans-serif;
   font-weight: bolder;
   font-size: 1.5rem;
   font-stretch: condensed;
}

.cube-6 {
   position: absolute;
   top: 0;
   left: 0;
   transform: translateX(-100%);
   height: 100%;
   width: 10rem;
   border-bottom: 1px solid black;
}
.container5 {
   position: relative;
}
.container5 h2 {
   margin-bottom: 7rem;
}
.point1 {
   position: absolute;
   bottom: 0;
   left: 0;
   transform: translateY(29%);
   z-index: 11;
}

.cube-img2 {
   width: 9rem;
   height: 9rem;
   position: absolute;
   bottom: 0;
   left: 13%;
   transform: translateY(40%);
   z-index: 10;
}

.cube-img2 img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.container6 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 85%;
   gap: 0.5rem;
   margin-top: 1rem;
}

.section1 {
   padding-bottom: 5rem;
   position: relative;
}

.cube10 {
   position: absolute;
   bottom: 0;
   left: 10%;
   z-index: 10;
   transform: translateY(50%);
}

.section2 {
   background-color: black;
   color: white;
   padding: 5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   overflow: hidden;
   height: 100%;
   padding-bottom: 17rem;
}

.part1 {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   padding: 5rem;
}

.part1 h2 {
   font-family: 'FreeSansBold', sans-serif;
   font-size: 2.5rem;
   color: #c9f31d;
   background-color: black;
   padding: 0.1rem 0rem;
   text-align: left;
}

.carosel {
   display: flex;
   justify-content: center;
   gap: 2rem;
   margin-top: 3rem;
   align-items: stretch;
}
.card {
   padding: 3rem 0.5rem;
   border: 1px solid rgb(68, 68, 68);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #1a1a1a;
   position: relative;
   overflow: hidden;
   width: calc(25% - 2rem);
}

.card h2 {
   font-family: 'FreeSansBold', sans-serif;
   font-size: 1.1rem;
   color: #c9f31d;
   background-color: #1a1a1a;
   padding: 0.1rem 1rem;
}

.card p {
   font-family: 'FiaCodeRegular', sans-serif;
   font-size: 0.7rem;
   margin-top: 1rem;
   text-align: center;
}

.img {
   width: 12rem;
   height: 12rem;
}

.img img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.card .glow {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #c9f31d;
   width: 100%;
   height: 50%;
   border-radius: 100%;
   filter: blur(70px);
   transform: translateY(-100%);
}

.glow12,
.glow11 {
   position: absolute;
   width: 50%;
   height: 100%;
   background-color: #fff;
   width: 30%;
   height: 50%;
   border-radius: 100%;
   filter: blur(120px);
}

.glow11 {
   top: 50%;
   right: 0;
   transform: translate(110%, -50%);
}

.glow12 {
   top: 50%;
   left: 0;
   transform: translate(-110%, -50%);
}

.part2 {
   display: flex;

   flex-direction: column;
   gap: 2rem;
   padding: 5rem;
   width: 100%;
}

.part2 h2 {
   font-family: 'FreeSansRegular', sans-serif;
   font-size: 2.5rem;
   color: #fff;
   font-style: italic;
   font-weight: 100;
   padding: 0.1rem 1rem;
}

.part2 h2 span {
   font-family: 'FreeSansBold', sans-serif;
   font-size: 2.5rem;
   color: #c9f31d;
   font-style: normal;
   font-weight: 100;
   padding: 0.1rem 1rem;
}

.container34 {
   background-color: white;
   width: 100%;
   padding-bottom: 2rem;
   display: flex;
   position: relative;
}

.image img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.image {
   width: 20rem;
   position: absolute;
   bottom: 0;
   left: 0;
   transform: translate(-10%, 10%);
}

.part2-text {
   width: 100%;
   color: black;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   align-items: flex-end;
}

.text24 {
   border: 0.5px solid rgba(53, 53, 53, 0.645);
   position: relative;
   padding: 2rem;
}

.text24 h1 {
   font-family: 'FreeSansBold', sans-serif;
   font-size: 3.5rem;
   color: black;
   position: absolute;
   top: 50%;
   left: 0;
   transform: translate(-50%, -50%);
}

.text24 span {
   font-family: 'FiaCodeBold', sans-serif;
   font-weight: 100;
}

.text24 p,
.text24 li {
   font-family: 'FiaCodeRegular', sans-serif;
}

.text1 {
   width: 90%;
   padding-top: 4rem;
}

.text2 {
   width: 80%;
}

.text3 {
   width: 75%;
   padding: 1rem;
}

.text3 ul {
   transform: translateX(5%);
}

.text4 {
   width: 70%;
}

.cube12 {
   bottom: 0;
   right: 0;
   transform: translate(50%, 50%);
}

.cube13 {
   top: 0;
   left: 0;
   transform: translate(-50%, -50%);
}

.part3 {
   font-family: 'FiaCodeRegular', sans-serif;
   font-size: 1.2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 80%;
}

.part3 ul li span {
   font-family: 'FiaCodeBold', sans-serif;
   font-weight: 100;
}

.part3 h2 {
   font-family: 'FreeSansBold', sans-serif;
   font-size: 2.5rem;
   color: #c9f31d;
   padding: 0.1rem 1rem;
}

.part2-image {
   width: 15rem;
   position: absolute;
   bottom: 0;
   right: 10%;
   z-index: 20;
}
.part2-image img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.texture3 {
   width: 90%;
   height: 8rem;
   margin: auto;
   margin: 3rem 0rem;
}

.texture3 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.texture1,
.texture2 {
   width: 2rem;
   height: 8rem;
   position: absolute;
}

.texture1 img,
.texture2 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.texture1 {
   bottom: 5%;
   left: 0;
}

.texture2 {
   bottom: 20%;
   right: 0;
}
.comma {
   width: 4rem;
}

.comma img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.section3 {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 2rem 10%;
   border-top: 2px solid rgba(53, 53, 53, 0.855);
   border-bottom: 2px solid rgba(53, 53, 53, 0.855);
   z-index: 15;
}

.section3 h1 {
   font-family: 'FreeSansBold', sans-serif;
   font-size: 2.5rem;
   color: #c9f31d;
}

.section3 p {
   font-family: 'FiaCodeRegular', sans-serif;
   font-size: 1.2rem;
   color: white;
}

.section4 {
   padding: 5rem 0;
   width: 100%;
   position: relative;
   overflow-y: hidden;
   overflow-x: hidden;
   padding: 5rem 0;
   display: flex;
   flex-direction: column;
}

.section4 a {
   margin: auto;
}
.glow20 {
   height: 100%;
   width: 10rem;
   background-color: #436500;
   position: absolute;
   top: 0;
   left: 0;
   filter: blur(90px);
   transform: translateX(-90%);
}

.glow21 {
   height: 100%;
   width: 10rem;
   background-color: #436500;
   position: absolute;
   top: 0;
   right: 0;
   filter: blur(90px);
   transform: translateX(90%);
}

.section4 h1 {
   font-family: 'FreeSansBold', sans-serif;
   font-size: 2.5rem;
   color: #000;
   background-color: #a8ff00;
   margin: 0 40% 0 10%;
   padding: 0.1rem 1rem;
}

.demo {
   color: white;
   margin-left: 22%;
   margin-top: 2rem;
   margin-right: 20%;
   font-family: 'FiaCodeRegular', sans-serif;
   font-size: 1.2rem;
   display: flex;
   gap: 0.5rem;
   flex-direction: column;
}

.demo span {
   font-family: 'FiaCodeBold', sans-serif;
   font-weight: 100;
}

.glow22 {
   height: 20rem;
   width: 10rem;
   background-color: #436500;
   position: absolute;
   bottom: 0;
   left: 0;
   filter: blur(90px);
   transform: translate(-20%, 20%);
}

.glow23 {
   height: 20rem;
   width: 10rem;
   background-color: #436500;
   position: absolute;
   bottom: 0;
   right: 0;
   filter: blur(90px);
   transform: translate(20%, 20%);
}

.button-contact {
   width: 20rem;
   align-self: center;
   margin-top: 7rem;
}
.button-contact img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.brand-logo {
   width: 10rem;
   align-self: center;
   margin-top: 1rem;
}

.brand-logo img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.section4 p {
   font-family: 'FiaCodeRegular', sans-serif;
   font-size: 1.2rem;
   color: white;
   margin-top: 2rem;
   text-align: center;
}

.social-media {
   display: flex;
   width: 100%;
   justify-content: center;
   flex-direction: column;
   gap: 1rem;
}

.social-media .links {
   display: flex;
   gap: 1rem;
   justify-content: center;
}

.social-media .links div {
   width: 5rem;
   height: 5rem;
   cursor: pointer;
}

.social-media .links div img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.links a {
   margin: 0;
}

/* Media Queries for tablets */
@media only screen and (max-width: 1024px) {
}

/* Media Queries for mobile devices */
@media only screen and (max-width: 640px) {
   /* Navigation bar */
   nav {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   main {
      flex-wrap: wrap;
      overflow-x: hidden;
      overflow-y: visible;
   }

   /* Hero Section - 1 */
   .main-text {
      margin-left: 0;
      font-size: medium;
   }
   .main-button {
      width: 10rem;
      height: 5rem;
      margin: auto;
   }
   .main-image {
      width: 100%;
      height: 20rem;
      transform: translateX(5%);
   }
   .main-image img {
      width: 90%;
      height: 90%;
      object-fit: contain;
      padding-left: 0;
   }

   .main-text h2 {
      padding-left: 2rem;
   }

   .social {
      gap: 0rem;
      justify-content: center;
   }

   .social-icons .icon {
      width: 2rem;
      height: 2rem;
   }

   .glow2,
   .glow1 {
      top: 0;
      right: 0;
      transform: translate(0, 0);
   }

   .glow2 {
      top: 50%;
      right: 0;
      transform: translate(70%, -50%);
   }

   .glow1 {
      top: 50%;
      left: 0;
      transform: translate(-70%, -50%);
   }

   /* Section 2 */
   .cube3 {
      width: 15%;
      height: 8rem;
   }

   .container2 h2,
   .container3 h2,
   .container5 h2 {
      font-size: medium;
   }

   .container2 p {
      font-size: x-small;
      margin-top: 1rem;
      margin-bottom: 0rem;
      margin-right: 1rem;
   }

   .container2 {
      padding: 0;
   }

   .cube-img1 {
      transform: translate(0%, 0%);
   }

   .cube-img1 {
      width: 6rem;
      height: 6rem;
      bottom: 0;
      right: 0;
      transform: translate(40%, 100%);
   }

   .container4 h3 {
      font-size: medium;
   }

   .container4 p {
      font-size: x-small;
      margin-top: 0.5rem;
   }

   .container4 {
      padding: 1rem 0rem 1rem 2rem;
      margin: 1rem 0;
      gap: 1rem;
   }

   .container3 {
      margin-top: 5rem;
   }

   .cube4,
   .cube2,
   .cube,
   .cube10 {
      width: 1rem;
      height: 1rem;
   }

   .point1 img,
   .point2 img {
      width: 2.3rem;
      height: 2.3rem;
   }

   .container5 {
      margin-top: 1rem;
   }

   .container5 h2 {
      margin: 0;
   }
   .point1 p,
   .point1 p span,
   .point2 p,
   .point2 p span {
      font-size: x-small;
   }

   .container5 h2 {
      margin-bottom: 3.5rem;
   }

   .cube-img2 {
      width: 2.5rem;
      left: 20%;
   }

   .point2 {
      margin-top: 1.2rem;
   }

   /* Section 2 */

   .section2 {
      padding: 0;
   }
   .carosel {
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;
      align-items: stretch;
   }

   .part1 h2 {
      font-size: large;
      margin-top: 0.1rem;
   }

   .card .img {
      width: 4rem;
      height: 4rem;
   }

   .card h2 {
      font-size: small;
      margin: 0;
   }

   .card p {
      font-size: x-small;
      text-align: left;
   }
   .card {
      padding: 1rem;
      width: calc(50% - 1rem);
   }
   .part1 {
      padding: 2rem;
   }

   .glow11 {
      top: 0%;
      right: 0;
      transform: translateX(200%);
   }

   .glow12 {
      top: 0%;
      left: 0;
      transform: translateX(-200%);
   }

   .part2 {
      padding: 0;
      margin-top: 5rem;
      gap: 1rem;
   }

   .part2 h2,
   .part2 h2 span {
      font-size: medium;
   }

   .part2 h2 span {
      padding: 0;
   }

   .container34 .image {
      width: 8rem;
   }

   .text24 h1 {
      font-size: x-large;
   }

   .text1 {
      padding: 2rem 0 1rem 1rem;
      font-size: x-small;
   }

   .text2,
   .text3,
   .text4 {
      padding: 1rem 0.5rem;
      font-size: x-small;
   }

   .text1 span,
   .text2 span,
   .text3 span,
   .text4 span {
      padding: 0;
   }

   .cube12,
   .cube13 {
      display: none;
   }

   .part3 {
      margin: 5rem 0rem;
      margin-bottom: 7rem;
   }

   .part3 h2 {
      font-size: x-large;
   }

   .part3 li,
   .part3 li span {
      padding: 0;
      font-size: x-small;
   }

   .part2-image {
      width: 5rem;
      height: 5rem;
      bottom: 1%;
   }

   .texture3 {
      width: 90%;
      height: 3rem;
      margin: auto;
      margin-top: 1rem;
   }

   .texture3 img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   .texture1,
   .texture2 {
      width: 1rem;
      height: 4rem;
   }
   .texture1 {
      bottom: 1%;
      left: 0;
   }

   .texture2 {
      bottom: 17%;
      right: 0;
   }

   .part3 ul {
      margin-top: 1rem;
   }

   /* Section 3 */
   .section3 h1 {
      font-size: medium;
   }

   .section3 p {
      font-size: x-small;
   }

   .comma {
      width: 2rem;
   }

   /* Section 4 */
   .section4 {
      padding-top: 2rem;
   }

   .section4 h1 {
      font-size: medium;
   }

   .section4 li,
   .section4 li span {
      font-size: x-small;
   }

   .section4 ol {
      margin-top: 1rem;
   }

   .glow20,
   .glow21 {
      width: 3rem;
   }

   .button-contact {
      width: 10rem;
      height: 5rem;
      margin-top: 2rem;
   }

   .brand-logo {
      width: 7rem;
      height: auto;
      margin-top: 0rem;
   }

   .section4 p {
      font-size: x-small;
      margin-top: 0;
   }

   .glow22,
   .glow23 {
      height: 10rem;
      width: 5rem;
   }

   .section4 a {
      margin: auto;
   }

   .social-media .links div {
      width: 2rem;
      height: 2rem;
   }

   .social-media {
      gap: 0rem;
   }
   .links a {
      margin: 0;
   }
}
